[Desktop Entry]
Encoding=UTF-8
Name=到 navigation-April.zip 的链接
Type=Link
URL=https://coding.net/u/engHDH/p/nwpu_explorer/git/blob/master/explorer_navigation/navigation-April.zip
Icon=text-html
